/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

body {
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

.action-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}

@media (min-width: 600px) {
  .action-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo-spotify {
  height: 2em;
}

.menu-items {
  display: flex;
}

.menu-items li {
  font-size: 1.5rem;
}

.menu-items li:not(:first-child) {
  padding-left: 2em;
}

.hero-image {
  background-image: url('../images/landing.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  min-height: 32em;
}

@media (min-width: 600px) {
  .hero-image {
    min-height: 48em;
  }
}

.hero-image h2 {
  font-size: 4.5rem;
  font-weight: normal;
  color: currentColor;
}

.hero-image p {
  font-size: 2rem;
  padding-top: 1em;
  color: currentColor;
}

.avantages {
  padding: 0 3rem;
  max-width: 100rem;
  margin: 0 auto;
}

.advantages-headline {
  font-size: 2.5rem;
  text-align: center;
  margin: 1em 0 2em 0;
  text-decoration: underline;
  text-decoration-color: #00b172;
  text-decoration-thickness: 5px;
}

@media (min-width: 600px) {
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3em;
  }
}

.advantages-list li {
  text-align: center;
}

.advantages-list h4 {
  color: #00b172;
  font-size: 2rem;
  margin-top: 0.5em;
}

.advantages-list p {
  margin-top: 1em;
  font-size: 1.75rem;
}

.advantages-list .icon {
  height: 6rem;
}

.main-footer {
  background-color: #00b172;
  color: white;
  padding: 5em;
  display: flex;
  justify-content: space-between;
  background-image: url('../images/spotify-icon-white.png');
  background-repeat: no-repeat;
  background-size: 10em;
  background-position: center;
}

.play-now h3 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.play-now {
  max-width: 45%;
  color: #fff;
}

.play-now-list {
  padding-right: 2em;
}

.play-now-list li h4 {
  font-size: 2rem;
  margin-top: 1em;
}

.play-now-list li p {
  font-size: 1.5rem;
  margin-top: 1em;
}

.sample {
  flex: 0 0 auto;
  max-width: 20rem;
  margin: 2rem 0 0 0;
}

.sample-image {
  max-width: 100%;
}
